<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Animais</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    @for (item of pets; track item; let index = $index) {
    <ion-item>
         
       <ion-card>
        <ion-card-header>
          <ion-card-title>{{ item.nome }}</ion-card-title>
          <ion-card-subtitle>{{ item.raca }}</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
          SEXO: {{item.sexo}} | ESPÉCIE: {{item.especie}} | DESCRIÇÃO: {{item.descricao}}
        </ion-card-content>
      </ion-card>
    </ion-item>
    }
  </ion-list>
</ion-content>
